/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: Arial Rounded MT Bold;
  background-color: #F6F7FA; }

strong {
  font-style: bold; }

.container {
  margin: 0 auto; }

header {
  background-color: #F6F7FA;
  height: 54px; }

nav {
  height: 54px;
  box-sizing: border-box; }
  nav .rainbow-nav1 {
    border-top: 2px solid #afecc3;
    width: 25%;
    float: left; }
  nav .rainbow-nav2 {
    border-top: 2px solid #84c3c0;
    width: 25%;
    float: left; }
  nav .rainbow-nav3 {
    border-top: 2px solid #d45a68;
    width: 25%;
    float: left; }
  nav .rainbow-nav4 {
    border-top: 2px solid #ecbf63;
    width: 25%;
    float: left; }
  nav .menu {
    height: 21px;
    width: 25px;
    float: left;
    padding: 14px 12px 10px 15px; }
    nav .menu img {
      height: 100%;
      width: 100%; }
  nav p {
    font-style: bold;
    font-size: 15px;
    text-align: center;
    margin: 0 auto;
    float: left;
    padding-top: 18px; }
  nav .search {
    float: right;
    padding: 15px;
    height: 15px;
    width: 15px; }
    nav .search img {
      height: 100%;
      width: 100%; }
  nav .plus {
    float: right;
    padding: 15px;
    height: 15px;
    width: 15px; }
    nav .plus img {
      height: 100%;
      width: 100%; }
  nav .nav-title2 {
    display: none; }
  nav .email {
    display: none; }
  nav h3 {
    display: none; }
  nav .down-arrow {
    display: none; }
  nav .upgrade {
    display: none; }

.aside {
  display: none; }

.my-list-wrapper .title {
  display: none; }
.my-list-wrapper .row1 {
  overflow: hidden; }
  .my-list-wrapper .row1 .col-4 {
    overflow: hidden;
    background-color: #ffffff; }
  .my-list-wrapper .row1 .dean {
    background-color: #ffffff;
    border-top: 2px solid #E8E8EB;
    box-sizing: border-box;
    position: relative; }
    .my-list-wrapper .row1 .dean h1 {
      float: left;
      font-size: 15px;
      padding: 15px 15px 5px 15px;
      line-height: 130%;
      max-width: 280px;
      width: 70%;
      box-sizng: border-box; }
      .my-list-wrapper .row1 .dean h1 a {
        text-decoration: none;
        color: black; }
      .my-list-wrapper .row1 .dean h1 a:hover {
        color: #63C3BD; }
    .my-list-wrapper .row1 .dean .img {
      background: #ffffff url(../images/love_bug.jpg) 0 0 no-repeat;
      background-size: cover;
      background-position: 50%;
      right: 0;
      position: absolute;
      height: 100%;
      width: 75px; }
    .my-list-wrapper .row1 .dean p {
      font-size: 10px;
      font-family: Arial;
      padding-left: 15px;
      overflow: hidden;
      width: 70%;
      float: left;
      padding-bottom: 10px;
      color: #B2B2B2;
      font-style: light;
      padding-bottom: 25px; }
      .my-list-wrapper .row1 .dean p img {
        display: none; }
  .my-list-wrapper .row1 .navy {
    background-color: #ffffff;
    border-top: 2px solid #E8E8EB;
    box-sizing: border-box;
    position: relative; }
    .my-list-wrapper .row1 .navy h1 {
      float: left;
      font-size: 15px;
      padding: 15px 15px 5px 15px;
      line-height: 130%;
      max-width: 280px;
      width: 70%;
      box-sizng: border-box; }
      .my-list-wrapper .row1 .navy h1 a {
        text-decoration: none;
        color: black; }
      .my-list-wrapper .row1 .navy h1 a:hover {
        color: #63C3BD; }
    .my-list-wrapper .row1 .navy .img {
      background: #ffffff url(../images/navy.jpg) 0 0 no-repeat;
      background-size: cover;
      background-position: 50%;
      right: 0;
      position: absolute;
      height: 100%;
      width: 75px;
      padding-bottom: 20px; }
      .my-list-wrapper .row1 .navy .img .trending {
        display: hidden; }
    .my-list-wrapper .row1 .navy p {
      font-size: 10px;
      font-family: Arial;
      padding-left: 15px;
      overflow: hidden;
      width: 70%;
      float: left;
      padding-bottom: 10px;
      color: #B2B2B2;
      font-style: light;
      padding-bottom: 30px; }
      .my-list-wrapper .row1 .navy p img {
        display: none; }
  .my-list-wrapper .row1 .river {
    background-color: #ffffff;
    border-top: 2px solid #E8E8EB;
    box-sizing: border-box;
    position: relative; }
    .my-list-wrapper .row1 .river h1 {
      float: left;
      font-size: 15px;
      padding: 15px 15px 5px 15px;
      line-height: 130%;
      max-width: 280px;
      width: 70%;
      box-sizng: border-box; }
      .my-list-wrapper .row1 .river h1 a {
        text-decoration: none;
        color: black; }
      .my-list-wrapper .row1 .river h1 a:hover {
        color: #63C3BD; }
    .my-list-wrapper .row1 .river .img {
      background: #ffffff url(../images/cartoon.jpeg) 0 0 no-repeat;
      background-size: cover;
      background-position: 50%;
      right: 0;
      position: absolute;
      height: 100%;
      width: 75px; }
    .my-list-wrapper .row1 .river p {
      font-size: 10px;
      font-family: Arial;
      padding-left: 15px;
      overflow: hidden;
      width: 70%;
      float: left;
      padding-bottom: 10px;
      color: #B2B2B2;
      font-style: light;
      padding-bottom: 25px; }
      .my-list-wrapper .row1 .river p img {
        display: none; }
.my-list-wrapper .row2 {
  overflow: hidden; }
  .my-list-wrapper .row2 .col-4 {
    overflow: hidden;
    background-color: #ffffff; }
  .my-list-wrapper .row2 .instagram {
    background-color: #ffffff;
    border-top: 2px solid #E8E8EB;
    box-sizing: border-box;
    position: relative; }
    .my-list-wrapper .row2 .instagram h1 {
      float: left;
      font-size: 15px;
      padding: 15px 15px 5px 15px;
      line-height: 130%;
      max-width: 280px;
      width: 70%;
      box-sizng: border-box; }
      .my-list-wrapper .row2 .instagram h1 a {
        text-decoration: none;
        color: black; }
      .my-list-wrapper .row2 .instagram h1 a:hover {
        color: #63C3BD; }
    .my-list-wrapper .row2 .instagram .img {
      background: #ffffff url(../images/instagram.jpg) 0 0 no-repeat;
      background-size: cover;
      background-position: 50%;
      right: 0;
      position: absolute;
      height: 100%;
      width: 75px; }
    .my-list-wrapper .row2 .instagram .icon {
      display: inline-block; }
    .my-list-wrapper .row2 .instagram p {
      font-size: 10px;
      font-family: Arial;
      padding-left: 15px;
      overflow: hidden;
      width: 70%;
      float: left;
      padding-bottom: 10px;
      color: #B2B2B2;
      font-style: light;
      padding-bottom: 25px; }
      .my-list-wrapper .row2 .instagram p img {
        display: none; }
  .my-list-wrapper .row2 .google {
    background-color: #ffffff;
    border-top: 2px solid #E8E8EB;
    box-sizing: border-box;
    position: relative; }
    .my-list-wrapper .row2 .google h1 {
      float: left;
      font-size: 15px;
      padding: 15px 15px 5px 15px;
      line-height: 130%;
      max-width: 280px;
      width: 70%;
      box-sizng: border-box; }
      .my-list-wrapper .row2 .google h1 a {
        text-decoration: none;
        color: black; }
      .my-list-wrapper .row2 .google h1 a:hover {
        color: #63C3BD; }
    .my-list-wrapper .row2 .google .img {
      background: #ffffff url(../images/google.jpg) 0 0 no-repeat;
      background-size: cover;
      background-position: 50%;
      right: 0;
      position: absolute;
      height: 100%;
      width: 75px; }
    .my-list-wrapper .row2 .google p {
      font-size: 10px;
      font-family: Arial;
      padding-left: 15px;
      overflow: hidden;
      width: 70%;
      float: left;
      padding-bottom: 10px;
      color: #B2B2B2;
      font-style: light;
      padding-bottom: 25px; }
      .my-list-wrapper .row2 .google p img {
        display: none; }
  .my-list-wrapper .row2 .jcrew {
    background-color: #ffffff;
    border-top: 2px solid #E8E8EB;
    box-sizing: border-box;
    position: relative; }
    .my-list-wrapper .row2 .jcrew h1 {
      float: left;
      font-size: 15px;
      padding: 15px 15px 5px 15px;
      line-height: 130%;
      max-width: 280px;
      width: 70%;
      box-sizng: border-box; }
      .my-list-wrapper .row2 .jcrew h1 a {
        text-decoration: none;
        color: black; }
      .my-list-wrapper .row2 .jcrew h1 a:hover {
        color: #63C3BD; }
    .my-list-wrapper .row2 .jcrew .img {
      background: #ffffff url(../images/jcrew.jpg) 0 0 no-repeat;
      background-size: cover;
      background-position: 50%;
      right: 0;
      position: absolute;
      height: 100%;
      width: 75px; }
    .my-list-wrapper .row2 .jcrew p {
      font-size: 10px;
      font-family: Arial;
      padding-left: 15px;
      overflow: hidden;
      width: 70%;
      float: left;
      padding-bottom: 10px;
      color: #B2B2B2;
      font-style: light;
      padding-bottom: 25px; }
      .my-list-wrapper .row2 .jcrew p img {
        display: none; }
.my-list-wrapper .row3 {
  overflow: hidden; }
  .my-list-wrapper .row3 .col-4 {
    overflow: hidden;
    background-color: #ffffff; }
  .my-list-wrapper .row3 .tumblr {
    background-color: #ffffff;
    border-top: 2px solid #E8E8EB;
    box-sizing: border-box;
    position: relative; }
    .my-list-wrapper .row3 .tumblr h1 {
      float: left;
      font-size: 15px;
      padding: 15px 15px 5px 15px;
      line-height: 130%;
      max-width: 280px;
      width: 70%;
      box-sizng: border-box; }
      .my-list-wrapper .row3 .tumblr h1 a {
        text-decoration: none;
        color: black; }
      .my-list-wrapper .row3 .tumblr h1 a:hover {
        color: #63C3BD; }
    .my-list-wrapper .row3 .tumblr .img {
      background: #ffffff url(../images/tumblr.jpg) 0 0 no-repeat;
      background-size: cover;
      background-position: 50%;
      right: 0;
      position: absolute;
      height: 100%;
      width: 75px; }
      .my-list-wrapper .row3 .tumblr .img .trending {
        display: hidden; }
    .my-list-wrapper .row3 .tumblr p {
      font-size: 10px;
      font-family: Arial;
      padding-left: 15px;
      overflow: hidden;
      width: 70%;
      float: left;
      padding-bottom: 10px;
      color: #B2B2B2;
      font-style: light;
      padding-bottom: 25px; }
      .my-list-wrapper .row3 .tumblr p img {
        display: none; }

@media screen and (min-width: 800px) {
  .container {
    width: 100%; }
    .container h3 {
      font-family: Arial;
      font-size: 11px; }
    .container nav {
      border-bottom: 1px solid #E8E8EB;
      max-height: 40px; }
      .container nav .nav-title1 {
        display: none; }
      .container nav .nav-title2 {
        display: inline-block;
        padding-left: 30px;
        padding-top: 10px;
        float: left; }
        .container nav .nav-title2 .logo {
          float: left;
          padding-right: 45px; }
          .container nav .nav-title2 .logo img {
            height: 16px;
            width: 65px; }
        .container nav .nav-title2 h1 {
          float: left;
          font-size: 11px;
          color: #63C3BD;
          padding-top: 3px;
          padding-bottom: 11px;
          padding-right: 1px;
          border-bottom: 2px solid #63C3BD; }
        .container nav .nav-title2 h2 {
          float: left;
          font-size: 11px;
          padding: 3px 0 0 45px; }
      .container nav .nav-right-side {
        float: right;
        box-sizing: border-box;
        margin: 0 auto; }
        .container nav .nav-right-side .search {
          float: left;
          padding: 12px 15px 0 0; }
          .container nav .nav-right-side .search img {
            height: 12px;
            width: 12px; }
        .container nav .nav-right-side .plus {
          float: left;
          padding: 12px 15px 0 0; }
          .container nav .nav-right-side .plus img {
            height: 12px;
            width: 12px; }
        .container nav .nav-right-side .email {
          display: inline-block;
          float: left;
          padding: 13px 15px 0 0; }
          .container nav .nav-right-side .email img {
            height: 11px;
            width: 13px;
            padding-right: 2px; }
        .container nav .nav-right-side h3 {
          display: inline-block;
          float: left;
          padding: 14px 2px 0 0; }
        .container nav .nav-right-side .down-arrow {
          display: inline-block;
          float: left;
          padding: 16px 20px 0 0; }
          .container nav .nav-right-side .down-arrow img {
            height: 7px;
            width: 8px; }
        .container nav .nav-right-side .upgrade {
          display: inline-block;
          float: left;
          padding: 0 30px 0 20px;
          border-left: 1px solid #E8E8EB;
          height: 100%; }
          .container nav .nav-right-side .upgrade h3 {
            font-size: 12px; }
    .container .aside {
      display: inline-block;
      float: left;
      width: 15%;
      padding: 15px 0 0 10px;
      box-sizing: border-box; }
      .container .aside h2 {
        font-family: Arial;
        font-size: 12px;
        color: #B2B2B2; }
      .container .aside h3 {
        font-size: 11.5px; }
      .container .aside .aside-top {
        padding: 0 0 5px 20px;
        line-height: 160%; }
        .container .aside .aside-top .line-break {
          padding-top: 7px;
          width: 18px;
          border-bottom: 1px solid #E8E8EB; }
      .container .aside .aside-middle {
        padding: 3px 0 200px 20px;
        line-height: 160%; }
      .container .aside .aside-images {
        padding: 0 0 5px 10px;
        line-height: 150%; }
        .container .aside .aside-images h2 {
          font-size: 9px;
          padding-left: 10px; }
        .container .aside .aside-images .google-play {
          background: #F6F7FA url(../logos/google_play.png) 0 0 no-repeat;
          height: 25px;
          width: 85px;
          background-position: 50%;
          border: 1px solid #E8E8EB;
          border-radius: 3px;
          background-size: 90%;
          margin-bottom: 5px; }
        .container .aside .aside-images .app-store {
          background: #F6F7FA url(../logos/app_store.png) 0 0 no-repeat;
          background-size: 90%;
          height: 25px;
          width: 85px;
          background-position: 50%;
          border: 1px solid #E8E8EB;
          border-radius: 3px; }
      .container .aside .aside-bottom {
        padding: 0 0 5px 20px;
        line-height: 160%; }
    .container .my-list-wrapper {
      float: right;
      width: 85%;
      padding: 20px 30px 0 0;
      box-sizing: border-box;
      overflow: hidden; }
      .container .my-list-wrapper .title {
        width: 100%;
        display: inline-block;
        padding-bottom: 20px; }
        .container .my-list-wrapper .title h4 {
          float: left;
          font-size: 27px;
          font-family: Arial; }
        .container .my-list-wrapper .title .list {
          float: right;
          padding: 5px 20px;
          box-sizing: border-box; }
        .container .my-list-wrapper .title .pencil {
          float: right;
          padding-top: 5px; }
          .container .my-list-wrapper .title .pencil img {
            height: 12px;
            width: 13px; }
    .container .row1 {
      min-height: 35%;
      position: relative; }
      .container .row1 .col-4 {
        width: 32%;
        float: left;
        box-sizing: border-box;
        margin-right: 2%;
        overflow: hidden; }
        .container .row1 .col-4:last-child {
          margin-right: 0; }
      .container .row1 .dean {
        height: 32%;
        border-top: 1px solid #EFF0F3;
        border-left: 1px solid #EFF0F3;
        border-right: 1px solid #EFF0F3;
        border-bottom: 1px solid #DBDCE1; }
        .container .row1 .dean h1 {
          float: none;
          width: 100%;
          background-color: #fff;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 13px; }
        .container .row1 .dean .img {
          width: 100%;
          float: none;
          background-size: cover;
          background-position: bottom center; }
        .container .row1 .dean p {
          float: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 10px 0 2px 10px; }
          .container .row1 .dean p img {
            float: left;
            display: inline-block;
            height: 13px;
            width: 13px;
            padding: 0 5px 5px 0;
            margin-top: -1px; }
      .container .row1 .navy {
        height: 32%;
        border-top: 1px solid #EFF0F3;
        border-left: 1px solid #EFF0F3;
        border-right: 1px solid #EFF0F3;
        border-bottom: 1px solid #DBDCE1; }
        .container .row1 .navy h1 {
          float: none;
          width: 100%;
          background-color: #fff;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 13px;
          max-width: none; }
        .container .row1 .navy .img {
          width: 100%;
          float: none; }
          .container .row1 .navy .img .trending {
            height: 20px;
            width: 68px;
            background-color: #63C3BD;
            color: #ffffff;
            padding-top: 5px;
            padding-left: 15px;
            box-sizing: border-box;
            font-size: 10.5px;
            font-family: Arial;
            border-radius: 0 3px 3px 0;
            margin-top: 10px; }
        .container .row1 .navy p {
          float: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 10px 0 2px 10px; }
          .container .row1 .navy p img {
            float: left;
            display: inline-block;
            height: 13px;
            width: 13px;
            padding: 0 5px 5px 0;
            margin-top: -1px; }
      .container .row1 .river {
        height: 32%;
        border-top: 1px solid #EFF0F3;
        border-left: 1px solid #EFF0F3;
        border-right: 1px solid #EFF0F3;
        border-bottom: 1px solid #DBDCE1; }
        .container .row1 .river h1 {
          float: none;
          width: 100%;
          background-color: #fff;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 13px; }
        .container .row1 .river .img {
          width: 100%;
          float: none;
          background-size: cover;
          background-position: bottom center; }
        .container .row1 .river p {
          float: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 10px 0 2px 10px; }
          .container .row1 .river p img {
            float: left;
            display: inline-block;
            height: 13px;
            width: 13px;
            padding: 0 5px 5px 0;
            margin-top: -1px; }
    .container .row2 {
      min-height: 35%;
      position: relative; }
      .container .row2 .col-4 {
        width: 32%;
        float: left;
        box-sizing: border-box;
        margin-right: 2%;
        overflow: hidden; }
        .container .row2 .col-4:last-child {
          margin-right: 0; }
      .container .row2 .instagram {
        height: 32%;
        border-top: 1px solid #EFF0F3;
        border-left: 1px solid #EFF0F3;
        border-right: 1px solid #EFF0F3;
        border-bottom: 1px solid #DBDCE1; }
        .container .row2 .instagram h1 {
          float: none;
          width: 100%;
          background-color: #fff;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 13px; }
        .container .row2 .instagram .img {
          width: 100%;
          float: none;
          background-size: contain;
          background-position: top center; }
        .container .row2 .instagram p {
          float: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 10px 0 2px 10px; }
          .container .row2 .instagram p img {
            float: left;
            display: inline-block;
            height: 13px;
            width: 13px;
            padding: 0 5px 5px 0;
            margin-top: -1px; }
      .container .row2 .google {
        height: 32%;
        border-top: 1px solid #EFF0F3;
        border-left: 1px solid #EFF0F3;
        border-right: 1px solid #EFF0F3;
        border-bottom: 1px solid #DBDCE1; }
        .container .row2 .google h1 {
          float: none;
          width: 100%;
          background-color: #fff;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 13px; }
        .container .row2 .google .img {
          width: 100%;
          float: none;
          background-size: contain;
          background-position: top center; }
        .container .row2 .google p {
          float: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 10px 0 2px 10px; }
          .container .row2 .google p img {
            float: left;
            display: inline-block;
            height: 13px;
            width: 13px;
            padding: 0 5px 5px 0;
            margin-top: -1px; }
      .container .row2 .jcrew {
        height: 32%;
        border-top: 1px solid #EFF0F3;
        border-left: 1px solid #EFF0F3;
        border-right: 1px solid #EFF0F3;
        border-bottom: 1px solid #DBDCE1; }
        .container .row2 .jcrew h1 {
          float: none;
          width: 100%;
          background-color: #fff;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 13px; }
        .container .row2 .jcrew .img {
          width: 100%;
          float: none;
          background-size: contain;
          background-position: top; }
        .container .row2 .jcrew p {
          float: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 10px 0 2px 10px; }
          .container .row2 .jcrew p img {
            float: left;
            display: inline-block;
            height: 13px;
            width: 13px;
            padding: 0 5px 5px 0;
            margin-top: -1px; }
    .container .row3 {
      min-height: 35%;
      position: relative; }
      .container .row3 .col-4 {
        width: 32%;
        float: left;
        box-sizing: border-box;
        margin-right: 2%;
        overflow: hidden; }
        .container .row3 .col-4:last-child {
          margin-right: 0; }
      .container .row3 .tumblr {
        height: 32%;
        border-top: 1px solid #EFF0F3;
        border-left: 1px solid #EFF0F3;
        border-right: 1px solid #EFF0F3;
        border-bottom: 1px solid #DBDCE1; }
        .container .row3 .tumblr h1 {
          float: none;
          width: 100%;
          background-color: #fff;
          padding: 10px 10px;
          box-sizing: border-box;
          overflow: hidden;
          font-size: 13px; }
        .container .row3 .tumblr .img {
          width: 100%;
          float: none;
          background-size: contain;
          background-position: top; }
          .container .row3 .tumblr .img .trending {
            height: 20px;
            width: 68px;
            background-color: #63C3BD;
            color: #ffffff;
            padding-top: 5px;
            padding-left: 15px;
            box-sizing: border-box;
            font-size: 10.5px;
            font-family: Arial;
            border-radius: 0 3px 3px 0;
            margin-top: 10px; }
        .container .row3 .tumblr p {
          float: none;
          width: 100%;
          position: absolute;
          background-color: #fff;
          bottom: 0;
          padding: 10px 0 2px 10px; }
          .container .row3 .tumblr p img {
            float: left;
            display: inline-block;
            height: 13px;
            width: 13px;
            padding: 0 5px 5px 0;
            margin-top: -1px; } }

/*# sourceMappingURL=style.css.map */
