@mixin articles1 {
	background-size: cover;
	height: 220px;
	padding: 30px 140px 0 40px;
	line-height: 420%;
	margin-top: 7%;
	margin-bottom: 7%;
	box-sizing: border-box;
}

@mixin articles2 {
	background-size: cover;
	background-position: center;
	box-sizing: border-box;
	max-height: 145px;
}

@mixin articles3 {
	max-height: 180px;
	padding-top: 15px;
	padding-left: 25px;
	box-sizing: border-box;
	width: 100%;
	margin-bottom: 3%;
	line-height: 370%;
	max-width: 450px;
}

@mixin social-media1 {
	width: 100%;
	max-width: $max-width;
	padding-bottom: 7px;
	margin: 0 auto;
	box-sizing: border-box;
}

@mixin social-media2 {
	height: 55px;
	margin: 0 auto;
	display: inline-block;
}