@import 'reset';
@import 'variables';
@import 'mixins';


body {
	font-family: Arial Rounded MT Bold;
	background-color: #F6F7FA;
}

strong {
	font-style: bold;
}

.container {
	margin: 0 auto;
}

header {
	background-color: #F6F7FA;
	height: 54px;
}

nav {
	height: 54px;
	box-sizing: border-box;

	.rainbow-nav1 {
		border-top: 2px solid #afecc3;
		width: 25%;
		float: left;
	}

	.rainbow-nav2 {
		border-top: 2px solid #84c3c0;
		width: 25%;
		float: left;
	}

	.rainbow-nav3 {
		border-top: 2px solid #d45a68;
		width: 25%;
		float: left;
	}

	.rainbow-nav4 {
		border-top: 2px solid #ecbf63;
		width: 25%;
		float: left;
	}

	.menu {
		height: 21px;
		width: 25px;
		float: left;
		padding: 14px 12px 10px 15px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	p {
		font-style: bold;
		font-size: 15px;
		text-align: center;
		margin: 0 auto;
		float: left;
		padding-top: 18px;
	}

	.search {
		float: right;
		padding: 15px;
		height: 15px;
		width: 15px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.plus {
		float: right;
		padding: 15px;
		height: 15px;
		width: 15px;

		img {
			height: 100%;
			width: 100%;
		}
	}

	.nav-title2 {
		display: none;
	}

	.email {
		display: none;
	}

	h3 {
		display: none;
	}

	.down-arrow {
		display: none;
	}

	.upgrade {
		display: none;
	}
}

.aside {
	display: none;
}

.my-list-wrapper {

	.title {
		display: none;
	}

	.row1 {
		overflow: hidden;

		.col-4 {
			overflow: hidden;
			background-color: #ffffff;
		}

		.dean {
			@include article;
			position: relative;

			h1 {
				@include h1;
			}

			.img {
				background: #ffffff url(../images/love_bug.jpg) 0 0 no-repeat;
				background-size: cover;
				@include img;
			}
		
			p {
				@include p;
				padding-bottom: 25px;

				img {
					display: none;
				}
			}
		}

		.navy {
			@include article;
			position: relative;

			h1 {
				@include h1;
			}

			.img {
				background: #ffffff url(../images/navy.jpg) 0 0 no-repeat;
				background-size: cover;
				@include img;
				padding-bottom: 20px;

				.trending {
					display: hidden;
				}
			}

			p {
				@include p;
				padding-bottom: 30px;

				img {
					display: none;
				}
			}
		}

		.river {
			@include article;
			position: relative;

			h1 {
				@include h1;
			}
			
			.img {
				background: #ffffff url(../images/cartoon.jpeg) 0 0 no-repeat;
				background-size: cover;
				@include img;
			}

			p {
				@include p;
				padding-bottom: 25px;

				img {
					display: none;
				}
			}
		}
	}

	.row2 {
		overflow: hidden;

		.col-4 {
			overflow: hidden;
			background-color: #ffffff;
		}

		.instagram {
			@include article;
			position: relative;
		
			h1 {
				@include h1;
			}

			.img {
				background: #ffffff url(../images/instagram.jpg) 0 0 no-repeat;
				background-size: cover;
				@include img;
			}

			.icon {
				display: inline-block;
			}

			p {
				@include p;
				padding-bottom: 25px;

				img {
					display: none;
				}
			}
		}

		.google {
			@include article;
			position: relative;
		
			h1 {
				@include h1;
			}

			.img {
				background: #ffffff url(../images/google.jpg) 0 0 no-repeat;
				background-size: cover;
				@include img;
			}

			p {
				@include p;
				padding-bottom: 25px;

				img {
					display: none;
				}
			}
		}

		.jcrew {
			@include article;
			position: relative;
		
			h1 {
				@include h1;
			}

			.img {
				background: #ffffff url(../images/jcrew.jpg) 0 0 no-repeat;
				background-size: cover;
				@include img;
			}

			p {
				@include p;
				padding-bottom: 25px;

				img {
					display: none;
				}
			}
		}
	}

	.row3 {
		overflow: hidden;

		.col-4 {
			overflow: hidden;
			background-color: #ffffff;
		}

		.tumblr {
			@include article;
			position: relative;
		
			h1 {
				@include h1;
			}

			.img {
				background: #ffffff url(../images/tumblr.jpg) 0 0 no-repeat;
				background-size: cover;
				@include img;

				.trending {
					display: hidden;
				}
			}

			p {
				@include p;
				padding-bottom: 25px;

				img {
					display: none;
				}
			}
		}
	}
}

@media screen and (min-width: 800px) {

	.container{
		width: 100%;

	h3 {
		font-family: Arial;
		font-size: 11px;
	}

	nav {
		border-bottom: 1px solid #E8E8EB;
		max-height: 40px;

		.nav-title1 {
			display: none;
		}

		.nav-title2 {
			display: inline-block;
			padding-left: 30px;
			padding-top: 10px;
			float: left;

			.logo {
				float: left;
				padding-right: 45px;

				img {
					height: 16px;
					width: 65px;
				}
			}

			h1 {
				float: left;
				font-size: 11px;
				color: #63C3BD;
				padding-top: 3px;
				padding-bottom: 11px;
				padding-right: 1px;
				border-bottom: 2px solid #63C3BD;
			}

			h2 {
				float: left;
				font-size: 11px;
				padding: 3px 0 0 45px;
			}
		}

		.nav-right-side {
			float: right;
			box-sizing: border-box;
			margin: 0 auto;

			.search {
				float: left;
				padding: 12px 15px 0 0;

				img {
					height: 12px;
					width: 12px;
				}
			}

			.plus {
				float: left;
				padding: 12px 15px 0 0;

				img {
					height: 12px;
					width: 12px;
				}
			}

			.email {
				display: inline-block;
				float: left;
				padding: 13px 15px 0 0;

				img {
					height: 11px;
					width: 13px;
					padding-right: 2px;
				}
			}

			h3 {
				display: inline-block;
				float: left;
				padding: 14px 2px 0 0;
			}

			.down-arrow {
				display: inline-block;
				float: left;
				padding: 16px 20px 0 0;

				img {
					height: 7px;
					width: 8px;
				}
			}

			.upgrade {
				display: inline-block;
				float: left;
				padding: 0 30px 0 20px;
				border-left: 1px solid #E8E8EB;
				height: 100%;

				h3{
					font-size: 12px;
				}
			}
		}
	}

	.aside {
		display: inline-block;
		float: left;
		width: 15%;
		padding: 15px 0 0 10px;
		box-sizing: border-box;

			h2 {
				font-family: Arial;
				font-size: 12px;
				color: #B2B2B2;
			}

			h3 {
				font-size: 11.5px;
			}

		.aside-top {
			padding: 0 0 5px 20px;
			line-height: 160%;

			.line-break {
				padding-top: 7px;
				width: 18px;
				border-bottom: 1px solid #E8E8EB;
			}
		}

		.aside-middle {
			padding: 3px 0 200px 20px;
			line-height: 160%;
		}

		.aside-images {
			padding: 0 0 5px 10px;
			line-height: 150%;

			h2 {
				font-size: 9px;
				padding-left: 10px;
			}

			.google-play {
				background: #F6F7FA url(../logos/google_play.png) 0 0 no-repeat;
				@include img2;
				background-size: 90%;
				margin-bottom: 5px;
				
			}

			.app-store {
				background: #F6F7FA url(../logos/app_store.png) 0 0 no-repeat;
				background-size: 90%;
				@include img2;
			}
		}

		.aside-bottom {
			padding: 0 0 5px 20px;
			line-height: 160%;
		}

	}

	.my-list-wrapper {
		float: right;
		width: 85%;
		padding: 20px 30px 0 0;
		box-sizing: border-box;
		overflow: hidden;

		.title {
			width: 100%;
			display: inline-block;
			padding-bottom: 20px;
			

			h4 {
				float: left;
				font-size: 27px;
				font-family: Arial;
			}

			.list {
				float: right;
				padding: 5px 20px;
				box-sizing: border-box;
			}

			.pencil {
				float: right;
				padding-top: 5px;

				img {
					height: 12px;
					width: 13px;
				}
			}
		}
	}

		.row1 {
			min-height: 35%;
			position: relative;

			.col-4 {
				@include grid(4);
				overflow: hidden;
			}


    		.dean {
    			height: 32%;
				@include box-border;
		
    			h1 {
    				@include media-query-h1;
    			}

    			.img {
    				width: 100%;
    				float: none;
    				background-size: cover;
    				background-position: bottom center;
    			}

  				p {
  					@include media-query-p;

  					img {
  						@include p-img;
  					}
    			}
    		}
  		
  			.navy {
  				height: 32%;
				@include box-border;

  				h1 {
  					@include media-query-h1;
    				max-width: none;
  				}

  				.img {
  					width: 100%;
  					float: none;
  
    				.trending {
    					@include trending;
    				}
				}

  				p {
  					@include media-query-p;

  					img {
  						@include p-img;
  					}
  				}
  			}

  			.river {
  				height: 32%;
				@include box-border;

  				h1 {
  					@include media-query-h1;
  				}

  				.img {
  					width: 100%;
  					float: none;
  					background-size: cover;
    				background-position: bottom center;
  				}

  				p {
  					@include media-query-p;

  					img {
  						@include p-img;
  					}
  				}
			}
  		}

  		.row2 {
			min-height: 35%;
			position: relative;

			.col-4 {
			@include grid(4);
			overflow: hidden;
			}

    		.instagram {
    			height: 32%;
				@include box-border;

    			h1 {
    				@include media-query-h1;
    			}

    			.img {
    				width: 100%;
    				float: none;
    				background-size: contain;
    				background-position: top center;
    			}
  
  				p {
					@include media-query-p;

					img {
						@include p-img;
  					}
    			}
    		}
  		
  			.google {
  				height: 32%;
				@include box-border;

  				h1 {
  					@include media-query-h1;
  				}

  				.img {
  					width: 100%;
  					float: none;
  					background-size: contain;
  					background-position: top center;
  				}

  				p {
  					@include media-query-p;

  					img {
  						@include p-img;
  					}
  				}
  			}

  			.jcrew {
  				height: 32%;
				@include box-border;

  				h1 {
  					@include media-query-h1;
  				}

  				.img {
  					width: 100%;
  					float: none;
  					background-size: contain;
    				background-position: top;
  				}

  				p {
  					@include media-query-p;

  					img {
  						@include p-img;
  					}
  				}
			}
  		}

  		.row3 {
  			min-height: 35%;
			position: relative;

			.col-4 {
				@include grid(4);
				overflow: hidden;
			}

    		.tumblr {
    			height: 32%;
				@include box-border;

    			h1 {
    				@include media-query-h1;
    			}

    			.img {
    				width: 100%;
    				float: none;
    				background-size: contain;
    				background-position: top;

    				.trending {
    					@include trending;
    				}
    			}
  
  				p {
					@include media-query-p;

					img {
						@include p-img;
  					}
    			}
    		}
  		}
	}
}