$header-font: Montserrat Subrayada, sans-serif;
$paragraph-font: Lato, sans-serif;
$primary-color: #EC5A49;
$secondary-color: #257FBB;
$primary-accent-color: #f3da4b;
$secondary-accent-color: #afaeaf;