@mixin background-animation {

	.modernizr-slideshow,
	.modernizr-slideshow:after { 
	  // position: fixed;
	  width: 100%;
	  height: 100%;
	  top: 0px;
	  left: 0px;
	  z-index: 0; 
	}
	// .modernizr-slideshow:after { 
	//   content: '';
	//   background: transparent url(../images/pattern.png) repeat top left; 
	// }
	.modernizr-slideshow li .background { 
	  width: 100%;
	  height: 320px;
	  position: absolute;
	  top: 0px;
	  left: 0px;
	  color: transparent;
	  // background-size: cover;
	  // background-position: center -200px;
	  background-repeat: none;
	  opacity: 0;
	  z-index: 0;
	  -webkit-backface-visibility: hidden;
	  -webkit-animation: imageAnimation 36s linear infinite 0s;
	  -moz-animation: imageAnimation 36s linear infinite 0s;
	  -o-animation: imageAnimation 36s linear infinite 0s;
	  -ms-animation: imageAnimation 36s linear infinite 0s;
	  animation: imageAnimation 36s linear infinite 0s; 
	}
	.modernizr-slideshow li div { 
	  z-index: 1000;
	  position: absolute;
	  top: 130px;
	  left: 0px;
	  width: 100%;
	  text-align: center;
	  opacity: 0;
	  // color: #fff;
	  -webkit-animation: titleAnimation 36s linear infinite 0s;
	  -moz-animation: titleAnimation 36s linear infinite 0s;
	  -o-animation: titleAnimation 36s linear infinite 0s;
	  -ms-animation: titleAnimation 36s linear infinite 0s;
	  animation: titleAnimation 36s linear infinite 0s; 
	}
	.modernizr-slideshow li div h1 { 
	  // font-size: 80px;
	  // padding-bottom: 40px;
	  line-height: 20px; 

	  &:nth-of-type(odd) {
	  	color: #53eae3;
	  }

	  &:nth-of-type(even) {
	  	color: #ffffff;
	  }
	}

	.modernizr-slideshow li div p {
	  	color: #fff;
	  	// width: 75%;
	  	text-align: center;
	  	margin: 0 auto;
	  	line-height: 20px;
	  	font-weight: 300;

	  	span {
	  		color: $light-blue;
	  	}
	}
	.modernizr-slideshow li:nth-child(1) .background { 
	  background-image: url(../images/oneblack.jpg);
	  background-size: cover;
	  background-position: center -180px;
	  animation-delay: .4s;
	  // background-color: #666666;

	  h1 {
	  	color: #53eae3;
	  }
	}
	.modernizr-slideshow li:nth-child(2) .background { 
		background-image: url(../images/one1.jpg);
		background-size: cover;
		background-position: center -180px;
		-webkit-animation-delay: 6s;
		-moz-animation-delay: 6s;
		-o-animation-delay: 6s;
		-ms-animation-delay: 6s;
		animation-delay: 6s; 
	}

	.modernizr-slideshow li:nth-child(3) .background { 
		background-image: url(../images/twoblack.jpg);
		background-size: cover;
		background-position: center -150px;
		-webkit-animation-delay: 12s;
		-moz-animation-delay: 12s;
		-o-animation-delay: 12s;
		-ms-animation-delay: 12s;
		animation-delay: 12s; 
	}

	.modernizr-slideshow li:nth-child(4) .background { 
		background-image: url(../images/two.jpg);
		background-size: cover;
		background-position: center -150px;
		-webkit-animation-delay: 18s;
		-moz-animation-delay: 18s;
		-o-animation-delay: 18s;
		-ms-animation-delay: 18s;
		animation-delay: 18s; 
	}

	.modernizr-slideshow li:nth-child(5) .background { 
		background-image: url(../images/threeblack.jpg);
		background-size: cover;
		background-position: center -300px;
		-webkit-animation-delay: 24s;
		-moz-animation-delay: 24s;
		-o-animation-delay: 24s;
		-ms-animation-delay: 24s;
		animation-delay: 24s; 
	}

	.modernizr-slideshow li:nth-child(6) .background { 
		background: url(../images/three.jpg);
		background-size: cover;
		background-position: center -300px;
		-webkit-animation-delay: 30s;
		-moz-animation-delay: 30s;
		-o-animation-delay: 30s;
		-ms-animation-delay: 30s;
		animation-delay: 30s; 
	}

	// .modernizr-slideshow li:nth-child(7) .background { 
	// 	background: url(../images/fourblack.jpg);
	// 	background-size: cover;
	// 	background-position: center -10px;
	// 	-webkit-animation-delay: 30s;
	// 	-moz-animation-delay: 30s;
	// 	-o-animation-delay: 30s;
	// 	-ms-animation-delay: 30s;
	// 	animation-delay: 36s; 
	// }

	// .modernizr-slideshow li:nth-child(8) .background { 
	// 	background: url(../images/four.jpg);
	// 	background-size: cover;
	// 	background-position: center -10px;
	// 	-webkit-animation-delay: 30s;
	// 	-moz-animation-delay: 30s;
	// 	-o-animation-delay: 30s;
	// 	-ms-animation-delay: 30s;
	// 	animation-delay: 42s; 
	// }

	.modernizr-slideshow li:nth-child(7) .background { 
	  background-image: url(../images/oneblack.jpg);
		background-size: cover;
		background-position: center -380px;
		-webkit-animation-delay: 30s;
		-moz-animation-delay: 30s;
		-o-animation-delay: 30s;
		-ms-animation-delay: 30s;
		animation-delay: 36s;

	  h1 {
	  	color: #53eae3;
	  }
	}


	.modernizr-slideshow li:nth-child(2) div { 
		-webkit-animation-delay: 6s;
		-moz-animation-delay: 6s;
		-o-animation-delay: 6s;
		-ms-animation-delay: 6s;
		animation-delay: 6s; 

		h1 {
		  	color: white;
		}

		p {
		  	color: #fff;
		  	// width: 75%;
		  	text-align: center;
			font-weight: 300;
		}
	}

	.modernizr-slideshow li:nth-child(3) div { 
		-webkit-animation-delay: 12s;
		-moz-animation-delay: 12s;
		-o-animation-delay: 12s;
		-ms-animation-delay: 12s;
		animation-delay: 12s; 

		p {
		  	color: #fff;
		  	// width: 75%;
		  	text-align: center;
			font-weight: 300;
		}
	}

	.modernizr-slideshow li:nth-child(4) div { 
	  -webkit-animation-delay: 18s;
	  -moz-animation-delay: 18s;
	  -o-animation-delay: 18s;
	  -ms-animation-delay: 18s;
	  animation-delay: 18s; 

	   h1 {
	  	color: white;
	  }
	  p {
	  	font-weight: 300;
	  	color: #fff;
	  	// width: 75%;
	  }
	}
	.modernizr-slideshow li:nth-child(5) div { 
	  -webkit-animation-delay: 24s;
	  -moz-animation-delay: 24s;
	  -o-animation-delay: 24s;
	  -ms-animation-delay: 24s;
	  animation-delay: 24s; 
	}
	.modernizr-slideshow li:nth-child(6) div { 
	  -webkit-animation-delay: 30s;
	  -moz-animation-delay: 30s;
	  -o-animation-delay: 30s;
	  -ms-animation-delay: 30s;
	  animation-delay: 30s; 
	   
	   h1 {
	  	color: white;
	  }

	 p {
	  	color: #fff;
	  	// width: 75%;
	  }
	}
	// .modernizr-slideshow li:nth-child(7) div { 
	//   -webkit-animation-delay: 24s;
	//   -moz-animation-delay: 24s;
	//   -o-animation-delay: 24s;
	//   -ms-animation-delay: 24s;
	//   animation-delay: 36s; 
	// }
	// .modernizr-slideshow li:nth-child(8) div { 
	//   -webkit-animation-delay: 24s;
	//   -moz-animation-delay: 24s;
	//   -o-animation-delay: 24s;
	//   -ms-animation-delay: 24s;
	//   animation-delay: 42s; 

	//   h1 {
	//   	color: white;
	//   }

	//   p {
	//   	color: #fff;
	//   	// width: 75%;
	//   }
	// }

	.modernizr-slideshow li:nth-child(7) div { 
	  -webkit-animation-delay: 24s;
	  -moz-animation-delay: 24s;
	  -o-animation-delay: 24s;
	  -ms-animation-delay: 24s;
	  animation-delay: 36s; 

	  h1 {
	  	color: $light-blue;
	  }

	  p {
	  	color: #fff;
	  	// width: 75%;
	  }
	}

	/* Animation for the slideshow images */
	@-webkit-keyframes imageAnimation { 
	  0% { opacity: 0;
	       -webkit-animation-timing-function: ease-in; }
	  8% { opacity: 1;
	       -webkit-animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	  25% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@-moz-keyframes imageAnimation { 
	  0% { opacity: 0;
	       -moz-animation-timing-function: ease-in; }
	  8% { opacity: 1;
	       -moz-animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	  25% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@-o-keyframes imageAnimation { 
	  0% { opacity: 0;
	       -o-animation-timing-function: ease-in; }
	  8% { opacity: 1;
	       -o-animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	  25% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@-ms-keyframes imageAnimation { 
	  0% { opacity: 0;
	       -ms-animation-timing-function: ease-in; }
	  8% { opacity: 1;
	       -ms-animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	  25% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@keyframes imageAnimation { 
	  0% { opacity: 0;
	       animation-timing-function: ease-in; }
	  8% { opacity: 1;
	       animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	  25% { opacity: 0 }
	  100% { opacity: 0 }
	}
	/* Animation for the title */
	@-webkit-keyframes titleAnimation { 
	  0% { opacity: 0 }
	  8% { opacity: 1 }
	  17% { opacity: 1 }
	  19% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@-moz-keyframes titleAnimation { 
	  0% { opacity: 0 }
	  8% { opacity: 1 }
	  17% { opacity: 1 }
	  19% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@-o-keyframes titleAnimation { 
	  0% { opacity: 0 }
	  8% { opacity: 1 }
	  17% { opacity: 1 }
	  19% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@-ms-keyframes titleAnimation { 
	  0% { opacity: 0 }
	  8% { opacity: 1 }
	  17% { opacity: 1 }
	  19% { opacity: 0 }
	  100% { opacity: 0 }
	}
	@keyframes titleAnimation { 
	  // 0% { opacity: 0 }
	0% { opacity: 0;
	       animation-timing-function: ease-in; }
	  8% { opacity: 1;
	       animation-timing-function: ease-out; }
	  17% { opacity: 1 }
	   25% { opacity: 0 }
	  100% { opacity: 0 }
	}
	/* Show at least something when animations not supported */
	.no-cssanimations .modernizr-slideshow li span{
	  opacity: 1;
	}
}

@mixin search {
	.container{
	    width: 200px;
	    margin: 10px auto;
	}

	.searchbox{
	    position: relative;
	    min-width: 50px;
	    width: 0%;
	    height: 50px;
	    float: right;
	    overflow: hidden;
	    
	    -webkit-transition: width 0.3s;
	    -moz-transition: width 0.3s;
	    -ms-transition: width 0.3s;
	    -o-transition: width 0.3s;
	    transition: width 0.3s;
	}

	.searchbox-input{
	    top:0;
	    right:0;
	    border:0;
	    outline:0;
	    background: transparent;
	    width:100%;
	    height:50px;
	    margin:0;
	    padding:0px 55px 0px 20px;
	    font-size:20px;
	    color: #fff;
	    font-family: $paragraph-font;
	}
	.searchbox-input::-webkit-input-placeholder {
	    color: $light-blue;
	}
	.searchbox-input:-moz-placeholder {
	    color: $light-blue;
	}
	.searchbox-input::-moz-placeholder {
	    color: $light-blue;
	}
	.searchbox-input:-ms-input-placeholder {
	    color: $light-blue;
	}

	.searchbox-icon,
	.searchbox-submit{
	    // width:0px;
	    // height:50px;
	    // display:block;
	    position:absolute;
	    top:0;
	    font-family: $paragraph-font;
	    font-size:22px;
	    right:0;
	    padding-right:10px;
	    margin:0;
	    border:0;
	    outline:0;
	    line-height:50px;
	    text-align:center;
	    cursor:pointer;
	    background: transparent;
	    // color:#dcddd8;
	    // background: url(../images/search-blue.png) center center no-repeat;
	    // background-color: none;

	}

	.searchbox-open{
	    width: 80%;
	}
}

$grid-width: 100%;
$total-columns: 12;
$margin: 2%;
$one-column: (100% - ($margin * ($total-columns - 1))) / $total-columns;

@mixin grid($column-num) {
	width: ($one-column*$column-num) +(($column-num) - 1) * $margin;
	float: left;
	box-sizing: border-box;
	margin-right: $margin;

	&:last-child {
		margin-right: 0;
	}

}
