@mixin logo {
	font-family: $logo-font-family;
	color: $primary-font-color;
}

@mixin small-box {
	background-color: $secondary-background-color;
	border: $secondary-border-color;
	width: 92%;
	margin: 0 auto;
	margin-bottom: 15px;
}

@mixin no-box {
	border: none;
	width: 98%;
}

@mixin large-box {
	background-color: $secondary-background-color;
	border: $secondary-border-color;
	width: 96%;
	margin: 0 auto;
	margin-bottom: 15px;


}

@mixin large-text {
	padding-top: 2px;

	h3 {
		font-size: 16px;
	}

	h4 {
		font-size: 16px;
	}

	h5 {
		font-size: 15px;
	}

	p {
		font-size: 13px;
	}
}

@mixin menu-items {
	padding: 2%;

	h3 {
		font-family: $primary-font-family;
		color: $secondary-font-color;
		font-weight: 600;
		font-size: 16px;
		float: left;
		padding: 8px 3px 5px 3px;
	}

	h4 {
		font-family: $primary-font-family;
		color: $primary-font-color;
		font-weight: 600;
		float: left;
		font-size: 16px;
		padding: 8px 0 0 5px;
	}

	h5 {
		float: right;
		font-family: $primary-font-family;
		color: $secondary-font-color;
		font-size: 15px;
		font-weight: 600;
		padding: 8px 3px 5px 1px;
	}

	p {
		clear: both;
		padding: 5px 15% 2% 15px;
		font-family: $primary-font-family;
		color: black;
		line-height: 120%;
		font-weight: 400;
		font-size: 13.5px;
	}
}

@mixin drink-items {

	h4 {
		font-family: $primary-font-family;
		color: $primary-font-color;
		font-weight: 600;
		float: left;
		font-size: 16px;
		padding: 8px 0 0 5px;
	}

	h5 {
		float: right;
		font-family: $primary-font-family;
		color: $secondary-font-color;
		font-size: 15px;
		font-weight: 600;
		padding: 8px 3px 5px 1px;
	}

	p {
		clear: both;
		padding: 5px 15% 2% 15px;
		font-family: $primary-font-family;
		color: black;
		line-height: 120%;
		font-weight: 400;
		font-size: 13.5px;
	}
}

@mixin h6 {
	color: $primary-font-color;
	font-family: $primary-font-family;
	font-weight: 900;
	font-size: 32px;
	padding: 3%;
	text-align: center;
}

@mixin h3 {
	font-family: $primary-font-family;
	color: $secondary-font-color;
	font-weight: 600;
	font-size: 24px;
	float: left;
	padding: 8px 5px 5px 10px;
}

@mixin h4 {
	font-family: $primary-font-family;
	color: $primary-font-color;
	font-weight: 600;
	float: left;
	font-size: 24px;
	padding: 8px 0 0 5px;		
}

@mixin h5 {
	float: right;
	font-family: $primary-font-family;
	color: $secondary-font-color;
	font-size: 20px;
	font-weight: 600;
	padding: 8px 10px 5px 0;
}

@mixin p {
	clear: both;
	padding: 5px 20% 2% 15px;
	font-family: $primary-font-family;
	color: black;
	line-height: 120%;
	font-weight: 400;
	font-size: 16px;
}