$primary-font-color: #420E08;
$logo-font-family: Aclonica, sans-serif;
$primary-font-family: Source Sans Pro, sans-serif;
$secondary-font-color: #DD3322;
$primary-background-color: #A6BA91;
$secondary-background-color: #EEDDCC;
$primary-border-color: 3px solid #EEDDCC;
$secondary-border-color: 3px solid #420E08;