/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

emp {
  font-style: italic; }

body {
  background: url(../images/wood3.jpg);
  background-repeat: x-repeat;
  background-size: contain;
  width: 100%; }

.small-nav .menu-icon {
  width: 42px;
  height: 40px;
  float: right;
  padding: 18px 18px 0 0; }
  .small-nav .menu-icon img {
    width: 100%;
    height: 100%; }
.small-nav .container {
  margin: 0 auto;
  width: 75%;
  height: 280px;
  padding-top: 20px;
  box-sizing: border-box; }
  .small-nav .container .logo {
    background: url(../images/logo.png) 0 0 no-repeat;
    background-size: contain;
    height: 325px;
    width: 350px;
    margin: 0 auto; }
    .small-nav .container .logo h1 {
      font-family: Aclonica, sans-serif;
      color: #420E08;
      font-size: 62px;
      text-align: center;
      padding-top: 21%;
      margin: 0 auto; }
    .small-nav .container .logo h2 {
      font-family: Aclonica, sans-serif;
      color: #420E08;
      font-size: 23px;
      text-align: center;
      margin: 0 auto;
      padding-top: 2%; }

.large-nav {
  display: none; }

.large-menu {
  display: none; }

.appetizers {
  width: 92%;
  background-color: #A6BA91;
  border: 3px solid #EEDDCC;
  margin: 0 auto;
  border-radius: 5px; }
  .appetizers h1 {
    font-weight: 900;
    font-size: 65px;
    color: #420E08;
    font-family: Source Sans Pro, sans-serif;
    text-align: center;
    margin: 0 auto;
    padding: 20px 0; }
  .appetizers .menu-bar {
    width: 95%;
    max-width: 370px;
    margin: 0 auto;
    background: url(../images/menu_bar.png) 0 0 no-repeat;
    background-size: 375px 30px;
    height: 25px;
    padding-bottom: 20px; }
    .appetizers .menu-bar h2 {
      font-family: Source Sans Pro, sans-serif;
      color: black;
      padding: 4px 0 0 10px;
      font-weight: 400;
      font-size: 20px; }
  .appetizers .container .saps-roll .box {
    background-color: #EEDDCC;
    border: 3px solid #420E08;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 15px; }
  .appetizers .container .saps-roll h3 {
    font-family: Source Sans Pro, sans-serif;
    color: #DD3322;
    font-weight: 600;
    font-size: 24px;
    float: left;
    padding: 8px 5px 5px 10px; }
  .appetizers .container .saps-roll h4 {
    font-family: Source Sans Pro, sans-serif;
    color: #420E08;
    font-weight: 600;
    float: left;
    font-size: 24px;
    padding: 8px 0 0 5px; }
  .appetizers .container .saps-roll h5 {
    float: right;
    font-family: Source Sans Pro, sans-serif;
    color: #DD3322;
    font-size: 20px;
    font-weight: 600;
    padding: 8px 10px 5px 0; }
  .appetizers .container .saps-roll p {
    clear: both;
    padding: 5px 20% 2% 15px;
    font-family: Source Sans Pro, sans-serif;
    color: black;
    line-height: 120%;
    font-weight: 400;
    font-size: 16px; }
  .appetizers .container .spring-rolls .box {
    background-color: #EEDDCC;
    border: 3px solid #420E08;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 15px; }
    .appetizers .container .spring-rolls .box h3 {
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-weight: 600;
      font-size: 24px;
      float: left;
      padding: 8px 5px 5px 10px; }
    .appetizers .container .spring-rolls .box h4 {
      font-family: Source Sans Pro, sans-serif;
      color: #420E08;
      font-weight: 600;
      float: left;
      font-size: 24px;
      padding: 8px 0 0 5px; }
    .appetizers .container .spring-rolls .box h5 {
      float: right;
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-size: 20px;
      font-weight: 600;
      padding: 8px 10px 5px 0; }
    .appetizers .container .spring-rolls .box p {
      clear: both;
      padding: 5px 20% 2% 15px;
      font-family: Source Sans Pro, sans-serif;
      color: black;
      line-height: 120%;
      font-weight: 400;
      font-size: 16px; }
  .appetizers .container .kao-tung .box {
    background-color: #EEDDCC;
    border: 3px solid #420E08;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 15px; }
    .appetizers .container .kao-tung .box h3 {
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-weight: 600;
      font-size: 24px;
      float: left;
      padding: 8px 5px 5px 10px; }
    .appetizers .container .kao-tung .box h4 {
      font-family: Source Sans Pro, sans-serif;
      color: #420E08;
      font-weight: 600;
      float: left;
      font-size: 24px;
      padding: 8px 0 0 5px; }
    .appetizers .container .kao-tung .box h5 {
      float: right;
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-size: 20px;
      font-weight: 600;
      padding: 8px 10px 5px 0; }
    .appetizers .container .kao-tung .box p {
      clear: both;
      padding: 5px 20% 2% 15px;
      font-family: Source Sans Pro, sans-serif;
      color: black;
      line-height: 120%;
      font-weight: 400;
      font-size: 16px; }
  .appetizers .container .thai-chicken-wings .box {
    background-color: #EEDDCC;
    border: 3px solid #420E08;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 15px; }
    .appetizers .container .thai-chicken-wings .box h3 {
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-weight: 600;
      font-size: 24px;
      float: left;
      padding: 8px 5px 5px 10px; }
    .appetizers .container .thai-chicken-wings .box h4 {
      font-family: Source Sans Pro, sans-serif;
      color: #420E08;
      font-weight: 600;
      float: left;
      font-size: 24px;
      padding: 8px 0 0 5px; }
    .appetizers .container .thai-chicken-wings .box h5 {
      float: right;
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-size: 20px;
      font-weight: 600;
      padding: 8px 10px 5px 0; }
    .appetizers .container .thai-chicken-wings .box p {
      clear: both;
      padding: 5px 20% 2% 15px;
      font-family: Source Sans Pro, sans-serif;
      color: black;
      line-height: 120%;
      font-weight: 400;
      font-size: 16px; }
  .appetizers .container .tod-mun-pla-grai .box {
    background-color: #EEDDCC;
    border: 3px solid #420E08;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 15px; }
    .appetizers .container .tod-mun-pla-grai .box h3 {
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-weight: 600;
      font-size: 24px;
      float: left;
      padding: 8px 5px 5px 10px; }
    .appetizers .container .tod-mun-pla-grai .box h4 {
      font-family: Source Sans Pro, sans-serif;
      color: #420E08;
      font-weight: 600;
      float: left;
      font-size: 24px;
      padding: 8px 0 0 5px; }
    .appetizers .container .tod-mun-pla-grai .box h5 {
      float: right;
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-size: 20px;
      font-weight: 600;
      padding: 8px 10px 5px 0; }
    .appetizers .container .tod-mun-pla-grai .box p {
      clear: both;
      padding: 5px 20% 2% 15px;
      font-family: Source Sans Pro, sans-serif;
      color: black;
      line-height: 120%;
      font-weight: 400;
      font-size: 16px; }
  .appetizers .container .tod-mun-chicken .box {
    background-color: #EEDDCC;
    border: 3px solid #420E08;
    width: 92%;
    margin: 0 auto;
    margin-bottom: 15px; }
    .appetizers .container .tod-mun-chicken .box h3 {
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-weight: 600;
      font-size: 24px;
      float: left;
      padding: 8px 5px 5px 10px; }
    .appetizers .container .tod-mun-chicken .box h4 {
      font-family: Source Sans Pro, sans-serif;
      color: #420E08;
      font-weight: 600;
      float: left;
      font-size: 24px;
      padding: 8px 0 0 5px; }
    .appetizers .container .tod-mun-chicken .box h5 {
      float: right;
      font-family: Source Sans Pro, sans-serif;
      color: #DD3322;
      font-size: 20px;
      font-weight: 600;
      padding: 8px 10px 5px 0; }
    .appetizers .container .tod-mun-chicken .box p {
      clear: both;
      padding: 5px 20% 2% 15px;
      font-family: Source Sans Pro, sans-serif;
      color: black;
      line-height: 120%;
      font-weight: 400;
      font-size: 16px; }

.salads {
  display: none; }

.guay-teaw-hang {
  display: none; }

.noodle-soup {
  display: none; }

.desserts {
  display: none; }

.drinks {
  display: none; }

.two {
  display: none; }

footer {
  width: 25%;
  margin: 0 auto; }
  footer .elephant {
    margin: 0 auto; }
    footer .elephant img {
      padding: 15px 0 5px 0;
      margin: 0 auto;
      height: 100px;
      width: 120px; }

@media screen and (min-width: 700px) {
  body {
    max-width: 900px; }

  nav .menu-icon {
    width: 62px;
    height: 60px;
    float: right;
    padding: 25px 25px 0 0; }
    nav .menu-icon img {
      width: 100%;
      height: 100%; }
  nav .container {
    padding: 15px 0 10px 0;
    width: 80%; }
    nav .container .logo {
      height: 420px;
      width: 450px; }
      nav .container .logo h1 {
        font-size: 82px; }
      nav .container .logo h2 {
        font-size: 30px; }

  .appetizers h1 {
    font-size: 75px; }
  .appetizers .container {
    background-color: #EEDDCC;
    border: 3px solid #420E08;
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
    height: 70%; }
    .appetizers .container .left {
      float: left;
      width: 46%;
      padding-top: 10px;
      height: 100%; }
      .appetizers .container .left .saps-roll .box {
        border: none;
        width: 98%; }
      .appetizers .container .left .spring-rolls .box {
        border: none;
        width: 98%; }
      .appetizers .container .left .kao-tung .box {
        border: none;
        width: 98%; }
    .appetizers .container .right {
      float: right;
      width: 54%;
      padding-top: 10px;
      height: 100%; }
      .appetizers .container .right .thai-chicken-wings .box {
        border: none;
        width: 98%; }
      .appetizers .container .right .tod-mun-pla-grai .box {
        border: none;
        width: 98%; }
      .appetizers .container .right .tod-mun-chicken .box {
        border: none;
        width: 98%; } }
@media screen and (min-width: 900px) {
  body {
    max-width: 100%; }

  .small-nav {
    display: none; }

  .large-nav {
    display: block; }
    .large-nav .container {
      margin: 0 auto;
      width: 100%;
      height: 400px;
      padding: 20px 0;
      box-sizing: border-box; }
      .large-nav .container .large-logo {
        background: url(../images/large_logo.png) 0 0 no-repeat;
        background-size: contain;
        background-position: center;
        height: 100%;
        width: 90%;
        margin: 0 auto; }
        .large-nav .container .large-logo h1 {
          font-family: Aclonica, sans-serif;
          color: #420E08;
          font-size: 110px;
          text-align: center;
          padding-top: 8%;
          margin: 0 auto; }
        .large-nav .container .large-logo h2 {
          font-family: Aclonica, sans-serif;
          color: #420E08;
          font-size: 38px;
          text-align: center;
          margin: 0 auto;
          padding-top: 2%; }
        .large-nav .container .large-logo h3 {
          font-family: Aclonica, sans-serif;
          color: #420E08;
          font-size: 30px;
          text-align: left;
          margin-top: -8%; }

  .small-menu {
    display: none; } }

/*# sourceMappingURL=style.css.map */
